{% if parentNode and parentNode.getChildCount %}
    <ul class="{{ primaryClasses }}">
        {% for primaryNav in parentNode.getChildren %}

        {% if primaryNav.getChildCount %}
        <li class="dropdown">
            <a href="{{ primaryNav.url|page }}" class="dropdown-toggle" data-toggle="dropdown">
                {{ primaryNav.title }} <span class="caret"></span>
            </a>
        {% else %}
        <li>
            <a href="{{ primaryNav.url|page }}">
                {{ primaryNav.title }}
            </a>
        {% endif %}
            {% if primaryNav.getChildCount %}
            <ul class="{{ secondaryClasses }}">
                {% for secondaryNav in primaryNav.getChildren %}
                <li>
                    <a href="{{ secondaryNav.url|page }}">
                        {{ secondaryNav.title }}
                    </a>
                    {% if secondaryNav.getChildCount %}
                    <ul class="{{ tertiaryClasses }}">
                        {% for tertiaryNav in secondaryNav.getChildren %}
                        <li>
                            <a href="{{ tertiaryNav.url|page }}">
                                {{ tertiaryNav.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
